<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <td>
        <h1>1001657016</h1>
    <h2>Vadane, Ajinkya</h2>

        <table border=1>

    <tr>
            <td> Cache or no cache : {{isCacheOn}}</td>

    </tr>

</table>



<table>
    <td>
        <h1>1001657016</h1>
        <h2>Vadane, Ajinkya</h2>

        <table border=1>

    <tr>
            <td> time taken : {{timetaken}}</td>

    </tr>
        </table>

</table>


    <table border=1>

    <tr>
            <td>{{data}}</td>

</table>



    </td>
</table>


</body>
</html>