<!DOCTYPE html>
<html>

<head>
  <title>Query the Earthquake Data</title>
</head>

<body>
  <h1>Ajinkya Vadane ........</h1>
  <h1>1001657016</h1><!-- Checking connnection -->
  <h3>cache = "mycache1" queryString = "select latitude, longitude, mag, magType from quake where mag &gt;" +
    magnitudeVal</h3>
  <div style="background-color: lightgreen">
    <form action="/client_homePage" method="get">
      enter deptherror1 : <input name="depth1" type="text"> enter deptherror2 : <input name="depth2" type="text">
      <!--enter longitude : <input type="text" name="longitude">-->
      enter count : <input name="count_from_user" type="text">
      <!--Enter Magnitude: <input type="text" name="eathquake_mag">-->
      <!--Count range to run query: <input type="text" name="count_from_user">-->
      <!--select Operator:-->
      <!--<select name = "symbol_operator">-->
      <!--<option value="<"><</option>-->
      <!--<option value=">">></option>-->
      <!--<option value="=">=</option>-->
      <!--<option value="<="><=</option>-->
      <!--<option value=">=">>=</option>-->
      <!--</select>-->
      <input name="form" type="submit" value="Submit"> <input name="load_db_form" type="submit" value="load_db_form">
      <input name="load_cache_form" type="submit" value="load_cache_form">
    </form>
  </div><!-- Adding data to redis cache -->
  <div style="background-color: cadetblue">
    <form action="client_homePage" method="get">
      select cache name to delete: <select name="symbol_operator">
        <option value="mycache">
          mycache
        </option>
        <option value="mycache1">
          mycache1
        </option>
        <option value="mycache2">
          mycache2
        </option>
        <option value="mycache3">
          mycache3
        </option>
        <option value="mycache4">
          mycache4
        </option>
        <option value="mycache5">
          mycache5
        </option>
      </select> enter count to run: <input name="count_from_user" type="text"> <input name="delete_cache" type="submit"
        value="delete_cache">
    </form>
  </div>
  <div style="background-color: cadetblue">
    <form action="client_homePage" method="get">
      Cache Clear <input name="clear_cache" type="submit" value="clear_cache">
    </form>
  </div>
  <h3>mycache queryString = select * from earthquakeAssignment3</h3>
  <div style="background-color: cadetblue">
    <form action="client_homePage" method="get">
      enter count to run: <input name="count_from_user" type="text"> <input name="redis_cache_load" type="submit"
        value="redis_cache_load">
    </form>
  </div>
  <!--Find Earthquakes in a certain radius and magnitude greater -->
  <div style="background-color: lightgreen">
    <h3>mycache2 query = SELECT id, latitude, longitude, depth, mag, magType</h3>
    <h3>Find Earthquakes in a certain radius and magnitude greater</h3>
    <form action="/client_homePage" method="get">
      Enter the Latitude: <input name="lat" type="text"> Enter the Longitude: <input name="lon" type="text"> Enter the
      Radius in kms: <input name="rad" type="text"> enter count to run: <input name="count_from_user" type="text">
      <input name="form_find_earthquake_in_range" type="submit" value="Submit">
    </form>
  </div>
  <div style="background-color: lightgreen">
    <h3>mycache3</h3>
    <h3>Find Earthquakes only occurring in particular location</h3>
    <form action="/client_homePage" method="get">
      Enter the loation: <input name="location" type="text"> enter count to run: <input name="count_from_user"
        type="text"> <input name="form_find_earthquake_in_location" type="submit" value="Submit">
    </form>
  </div>
  <div style="background-color: lightgreen">
    <h3>mycache4</h3>
    <h3>Find Earthquakes only occurring in within particular time range</h3>
    <form action="/client_homePage" method="get">
      time1: <input name="time1" type="datetime-local"> time2: <input name="time2" type="datetime-local"> enter count to
      run: <input name="count_from_user" type="text"> <input name="form_find_earthquake_in_timerange" type="submit"
        value="Submit">
    </form>
  </div>
  <div style="background-color: lightgreen">
    <h3>mycache5</h3>
    <h3>Find Earthquakes only occurring in within particular magnitude range</h3>
    <form action="/client_homePage" method="get">
      magnitude1: <input name="mag1" type="text"> magnitude2: <input name="mag2" type="text"> enter count to run: <input
        name="count_from_user" type="text"> <input name="form_find_earthquake_in_magrange" type="submit" value="Submit">
    </form>
  </div>
  <!--Assignment4 -->
  <div style="background-color: coral">
    <form action="/client_homePage" method="get">
      <!--enter deptherror1 : <input type="text" name="depth1">-->
      <!--enter deptherror2 : <input type="text" name="depth2">-->
      enter magnitude : <input name="mag" type="number" value="1"> enter count : <input name="count_from_user"
        type="number" value="100"> <input name="Assignment_4" type="submit" value="Assignment_4">
    </form>
  </div>
  <div style="background-color: coral">
    <form action="/client_homePage" method="get">
      <input name="Assignment_4" type="submit" value="Assignment_4_bar">
    </form>
  </div>
  <div style="background-color: coral">
    <form action="/client_homePage" method="get">
      <input name="Assignment_4" type="submit" value="Assignment_4_pie">
    </form>
  </div>
  <div style="background-color: coral">
    <form action="/client_homePage" method="get">
      enter depth1 : <input name="depth1" type="text"> enter depth2 : <input name="depth2" type="text"> enter count :
      <input name="count" type="text"> <input name="Assignment_4" type="submit" value="Assignment_4_pie_depth">
    </form>
  </div>
  <div style="background-color: coral">
    <form action="/client_homePage" method="get">
      <input name="Assignment_4" type="submit" value="Asssignment_4_bar_graph-1">
    </form>
  </div>
  <div style="background-color: coral">
    <form action="/client_homePage" method="get">
      <input name="Assignment_4" type="submit" value="Asssignment_4_pie_graph-1">
    </form>
  </div>
  <div style="background-color: coral">
    <form action="/client_homePage" method="get">
      enter pop1 : <input name="pop1" type="number"> enter pop2 : <input name="pop2" type="number"> <input
        name="Quiz4_Q1" type="submit" value="Quiz4_Q1">
    </form>
  </div>
  <div style="background-color: coral">
    <form action="/client_homePage" method="get">
      enter population range : <input name="pop_range" type="number"> <input name="Quiz4_Q2" type="submit"
        value="Quiz4_Q2">
    </form>
  </div>

  <div style="background-color: coral">
    <form action="/client_homePage" method="get">
      enter a number : <input name="num" type="number">
      <input name="Quiz4_Q8" type="submit" value="Quiz4_Q8">
    </form>
  </div>
</body>

</html>