<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <td>
        <h1>1001657016</h1>
        <h2>Vadane, Ajinkya</h2>




        <table>
            <td>
                <h1>1001657016</h1>
                <h2>Vadane, Ajinkya</h2>



        </table>




        <table border=1>
            {{data}}


            <!--{% for earthq in data%}-->
            <!--<tr>-->
                <!--{% for info in earthq%}-->

                <!--<td>{{info}}</td>-->
                <!--{%endfor%}-->

            <!--</tr>-->
            <!--{%endfor%}-->
        </table>




    </td>
</table>








</body>
</html>