<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <td>
        <h1>1001657016</h1>
    <h2>Vadane, Ajinkya</h2>

        <table border=1>

    <tr>
            <td> Cache or no cache : {{isCacheOn}}</td>

    </tr>

</table>



<table>
    <td>
        <h1>1001657016</h1>
        <h2>Vadane, Ajinkya</h2>

        <table border=1>

    <tr>
            <td> time taken : {{timetaken}}</td>

    </tr>
        </table>

</table>


        <table border=1>
     <td> count : {{data}}</td>
        </table>





        <table border=1>
    {% for earthq in data%}
    <tr>
            {% for info in earthq%}

            <td>{{info}}</td>
            {%endfor%}

    </tr>
    {%endfor%}
        </table>



    <!--<table border=1>-->
    <!--{% for r in data%}-->
    <!--<tr>-->

            <!--&lt;!&ndash;<td>{{r["latitude"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["longitude"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["time"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["depthError"]}}</td>&ndash;&gt;-->


            <!--&lt;!&ndash;<td>{{r["time"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["latitude"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["longitude"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["depth"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["mag"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["magType"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["nst"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["gap"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["dmin"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["rms"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["net"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["id"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["updated"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["place"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["type"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["locationSource"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["magSource"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["horizontalError"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["depthError"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["magError"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["magNst"]}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{r["status"]}}</td>&ndash;&gt;-->
    <!--</tr>-->
    <!--{%endfor%}
</table>-->


    </td>
</table>

<table>
    <td>
        <h1>1001657016</h1>
        <h2>Vadane, Ajinkya</h2>

        <table border=1>

    <tr>
            <td> randomlist1 : {{randomdepthlist1}}</td>

    </tr>
        </table>

</table>

<table>
    <td>

        <table border=1>

    <tr>
            <td> randomlist2 : {{randomdepthlist2}}</td>

    </tr>
        </table>

</table>


<table>
    <td>

        <table border=1>

    <tr>
            <td> timetaken : {{timetaken1}}</td>

    </tr>
        </table>

</table>


</body>
</html>