<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <td>
        <h1>1001657016</h1>
    <h2>Vadane, Ajinkya</h2>

        <table border=1>

    <tr>
            <td> Cache or no cache : {{isCacheOn}}</td>

    </tr>

</table>



<table>
    <td>
        <h1>1001657016</h1>
        <h2>Vadane, Ajinkya</h2>

        <table border=1>

    <tr>
            <td> time taken : {{timetaken}}</td>

    </tr>
        </table>

</table>



    <table border=1>
    {% for r in data%}
    <tr>
            <td>{{r["time"]}}</td>
            <td>{{r["latitude"]}}</td>
            <td>{{r["longitude"]}}</td>
            <td>{{r["depth"]}}</td>
            <td>{{r["mag"]}}</td>
            <td>{{r["magType"]}}</td>
            <td>{{r["nst"]}}</td>
            <td>{{r["gap"]}}</td>
            <td>{{r["dmin"]}}</td>
            <td>{{r["rms"]}}</td>
            <td>{{r["net"]}}</td>
            <td>{{r["id"]}}</td>
            <td>{{r["updated"]}}</td>
            <td>{{r["place"]}}</td>
            <td>{{r["type"]}}</td>
            <td>{{r["locationSource"]}}</td>
            <td>{{r["magSource"]}}</td>
            <td>{{r["horizontalError"]}}</td>
            <td>{{r["depthError"]}}</td>
            <td>{{r["magError"]}}</td>
            <td>{{r["magNst"]}}</td>
            <td>{{r["status"]}}</td>
    </tr>
    {%endfor%}
</table>


    </td>
</table>


</body>
</html>